<div>
    <div class="sub-nav">
		<a href="#"><img class="logo" src="../images/logo.png" /></a>
		<div class="icons">
			<a><img src="../images/icons/open_folder.png" /></a>
			<a><img src="../images/icons/person.png" /></a>
			<a><img src="../images/icons/check.png" /></a>
			<a><img src="../images/icons/paper2.png" /></a>
			<a><img src="../images/icons/plus.png" /></a>
			<a><img src="../images/icons/ex.png" /></a>
		</div>
    </div>
    <div class="content">
    	<h2>Today's Schedule</h2>
    	<div class="todaySchedule">
	    	<table class="table table-hover table-striped table-bordered">
	    		<thead>
	    			<th>Name</th>
	    			<th>Start Time</th>
	    			<th>End Time</th>
	    			<th>Total Hours</th>
	    		</thead>
	    		<tbody data-bind="foreach: schedules">
	    			<tr>
	    				<td data-bind="text: name"></td>
	    				<td data-bind="text: start"></td>
	    				<td data-bind="text: end"></td>
	    				<td data-bind="text: total"></td>
	    			</tr>
	    		</tbody>
	    	</table>
    	</div>
    </div>
</div>